@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #7745D7;
  --primary-hover: #7041c7;
  --secondary-cool: #E0E0E3;
  --secondary-white: #F8F8F8;
  --neutrals-white: #EDEDED;
  --neutrals-black: #17151A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-alvert-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #EDEDED;
    --foreground: #17151A;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-size: 22px;
  font-weight: medium;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 64px;
  font-weight: bold;
}

h2 {
  font-size: 48px;
  font-weight: bold;
}

h3 {
  font-size: 28px;
  font-weight: bold;
}

h4 {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 18px;
  font-weight: medium;
  color: #474141;
}